body{
	background-color: rgb(156, 183, 241);
	text-align: center;
}

.jumbotron{
	background-color: rgb(73, 83, 223);
	color: rgb(230, 171, 62);
}

h1{
	color: black;
	font-size: 20px;
}

.devourForm{
	background-color: rgb(73, 83, 223);
	color: rgb(230, 171, 62);
}

.eat{
	background-color: rgb(178, 192, 224);
	text-align: center;
}